.mainContainer{
	float: left;
	width: 100%;
	height:100%;
	overflow: hidden;
}

.leftContainer{
	position:relative;
	float:left;
	height:100%;
	width: 200px;
	left:0;
	max-width: 300px;
}

.rightContainer{
	position:relative;
	float: left;
	height: 100%;
	overflow-y: visible;
	/*width: calc(100% - 250px);*/
	/*width: 84.6%;*/
	/*width: 70.7%;*/
}

.leftHolder{
	position: relative;
	height:100%;
	width: 100%;
	background:#3B4B5E;
}

.logoContainer{
	position: relative;
	float:left;
	width: 100%;
	height: 90px;
	top:0;
}

.navigationContainer{
	position: relative;
	float:left;
	width: 200px;
}

.navLinksContainer{
	height: 100%;
	text-transform: uppercase;
}

.navigationContainer>nav>ul.navLinksContainer>li{
	width: 100%;
	float: none;
	margin-left: 0px;
	font-size: 14px;
	/*height: 36px;*/
	padding: 12px 0 12px;
	/*padding: 12px 0 12px 40px;*/
}

.navigationContainer>nav>ul.navLinksContainer>li>ul.children>li{	
	width: 100%;
	float:none;
	padding: 10px 0;
	color:black;
}

.children{
	display:none;
	/*margin-left: -120px;*/
	position: absolute;
	width: 100%;
	background:#1D2D37;
}

.navigationContainer>nav>ul.navLinksContainer>li>a{
	font-weight: bold;
	/*margin: 12px 0px;*/
	color:white;
	margin: 12px 0px 0 40px;
}

.active{
	background:#4AACAE;	
	margin:0;
}

.active2{
	background:#38777F!important;
}

.activeSub{
	background:#4AACAE;	
	margin:0;
}

.active a{
	color:white;
}

.activeSub a{
	color:white!important;
}

.navigationContainer>nav{
	width: 100%;
}

.navigationContainer>nav>ul.navLinksContainer>li>span{
	width: 40px;
	height: 100%;
	/*margin: 0 10px 0 0;*/
}

.navigationContainer>nav>ul.navLinksContainer>li>span>img{
	width: 20px;
	height: 20px;
	float: right;
}

.backIco{
	width: 30px!important;
	height: 30px!important;
	margin: -3px 0 0 16px;
	cursor: pointer;
}

.children>li>a{
	text-transform: capitalize;
	margin: 0 0 0 49px;	
	color: white;
}

.active2 a{
	color: black;
}

.headerContainer{
	position: relative;
	width: 100%;
	height: 75px;
	border-bottom: 2px solid #E6E6E6;
}

.headerHolder{
	position: relative;
	width: 100%;
	height: 100%;
}

.notifContainer,.messageContainer,.calendarIconContainer{
	float: left;
	width: 40px;
	height: 40px;
	margin: 16px 0 0 30px;
	border: 1px solid black;
}

.userIconContainer{
	float: right;
	width: 60px;
	height: 100%;
	/*margin: 25px 0 0 30px;*/
}

.userIconContainer>img{
	float:right;
	margin: 16px 0 0;
}

.userNameContainer{
	float: right;
	height: 100%;
	line-height: 66px;
	margin: 0 20px 0 5px;
	/*padding: 32px 0 0;	*/
	/*margin: 25px 0 0 30px;*/
	/*border: 1px solid black;*/
}

.drop{
	margin: 0 0 0 5px;
	cursor: pointer;
}

.logoutContainer{
	float: right;
	width: 85px;
	height: 100%;
	border-left: 2px solid #E6E6E6;
}

.logoutContainer>img{
	width: 30px;
	height: 30px;
	float: right;
	margin: 18px 26px 0;
}

.userContainer{
	float: right;
	width: 236px;
	height: 98%;
	/*border:1px solid black;*/
}

.menuContainer{
	float:right;
	height: 100%;
}

.menuContainer>img{
	width:25px;
	cursor:pointer;
}

.leftPanelContainer{
	display: none;
	position:relative;
	float:left;
	height:100%;
	width: 5%;
}

.leftPanelHolder{
	position: absolute;
	height:100%;
	width: 100%;
	background:#E6E6E6;
}

.panelMenuContainer{

	position: relative;
	cursor:pointer;
	top:10px;
	left: 22px;
}
.panelMenuContainer>img{
	width:25px;
	height: 25px;
}

.leftTogglerHolder {
	width: 100%;
	float: left;
	overflow: hidden;
	text-align: center;
	position: absolute;
}

.leftTogglerHolder img {
	padding: 10px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	float: left;
}

.logoHolder {
	width: 200px;
	float: left;
	overflow: hidden;
	
	/*height: 92px;*/
	height: 75px;
	text-align: center;
	color: white;
	font-weight: 700;
	font-size: 30px;
	line-height: 75px;
}

.invertedLogoHolder  {
	width: 100%;
	float: left;
	overflow: hidden;
	background-color: #CCC;
	text-align: center;
	color: #444;
	font-weight: 700;
	font-size: 30px;
	height: 200px;	
	display: none;
	position: absolute;
	bottom: 10px;
}

.invertedLogoHolder p {
	margin: 90px 0 0 0;
	font-weight: 700;
	color: #444;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
}

.normalState .leftContainer {
	width:200px;
    overflow:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;		
}

.normalState .navigationContainer {
	display: block;
}

.normalState .rightContainer {
	width: calc(100% - 200px);
    overflow-x:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	
}

.hideSideBar .leftContainer {
	width:0px;
    overflow:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	
}

.hideSideBar .rightContainer {
	width: 100%!important;	
    overflow-x:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	
}

.activeSideBar .leftTogglerHolder img,
.hideSideBar2 .leftTogglerHolder img {
	float: none;
}

.hideSideBar .invertedLogoHolder {
	display: none;
}



.hideSideBarWithNotifBar .rightContainer{
	width: calc(100% - 250px)!important;	
    overflow-x:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	
}

.activeSideBar .leftContainer {
	width:50px;
    overflow:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;		
}

.activeSideBar .rightContainer {
	width: calc(100% - 50px);	
    overflow-x:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	
}

.activeSideBarWithNotifBar .rightContainer{
	width: calc(100% - 300px)!important;	
    overflow-x:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	

}

.activeSideBar .invertedLogoHolder {
	display: block;
}

.activeSideBar .navigationContainer {
	display: none;
}

.activeSideBar .logoHolder {
	display: none;
}

.hideSideBar2 .leftContainer {
	width:0px;
    overflow:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	
}

.hideSideBar2 .logoHolder{
	display: none;
}

.hideSideBar2 .invertedLogoHolder {
	display: block;
}

.hideSideBar2 .rightContainer {
	width: 100%!important;	
    overflow-x:hidden;
    -webkit-transition: width .9s ease-in-out;
    -moz-transition: width .9s ease-in-out;
    -o-transition: width .9s ease-in-out;
    transition: width .9s ease-in-out;	
}

.hideSideBar2 .navigationContainer {
	display: none;
}

.notificationBarContainer{
	float:left;
	background:#1D2D37;
	/*width: 200px;*/
	width: 0px;
	height: 100%;
}

.activeNotificationBar{
	width: 250px;
    overflow:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	
}

.hideNotificationBar{
	width: 0px;
    overflow:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	
}

.adjustWidthNotifNormalState{
	width: calc(100% - 450px)!important;
    overflow:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	
}

.adjustWidthNotifNormalStateHide{
	width: calc(100% - 200px)!important;
    overflow:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	
}

.adjustWidthNotifActiveSidebar{
	width: calc(100% - 300px)!important;
    overflow:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	

}

.adjustWidthNotifActiveSidebarHide .rightContainer{
	width: calc(100% - 250px)!important;
    overflow-x:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	
}

.tabsHolder{
	position: relative;
	width: 100%;
	height: 40px;
	padding: 0 0 0 185px;
	vertical-align: bottom;
	/*background: #232;*/
	border-bottom: 5px #CCCCCC solid;
	overflow: visible;
}

ul.tabs{
	overflow: visible;
	position: relative;
	height: 55px;
	/*margin: 0 0 0 60px;*/
}

ul.tabs>li{
	margin: 20px 0px 0 0;
	width: 120px;
	text-align: center;
	top: 14px;
	font-size: 15px;
	cursor: pointer;
}

ul.tabs>li.activeTab{
	border-bottom: 5px solid #81BC3C;
}

.indicator{
	position: absolute;
	display: none;
	width: 120px;
	height: 5px;
	background:#9EE748;
	top: 40px;
	left: 0px;
}

.contentContainer{
	position: relative;
	padding: 10px;
	/*top: 84px;*/
}

.tabsContainer{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 86px;
	/*top:90px;*/
	/*background: #444;*/
}

.tabsContainer.sticky{
	position: fixed;
	top:0;
	background:white;
	z-index: 2;
	height: 55px;

	-webkit-transition: height 0.4s ease-in-out;
	-moz-transition: height 0.4s ease-in-out;
    -o-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
}

.tabsHolder.sticky{
	top:0;

	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.pageTitleContainer{
	position: relative;
	width: 100%;
	height: 43px;
}

.titleContainer{
	float: left;
	height: 100%;
	padding: 5px 0 0 27px;
	font-size: 22px;
	color:#3B4854;
}

.newwJobContainer{
	float:right;
	height: 100%;
	padding: 10px 27px 0 0;
	color:#9A9A9A;
}