.mainContainer{
	position: absolute;
	width: 100%;
	height:100%;
	top:0;
}

.leftContainer{
	position:relative;
	float:left;
	height:100%;
	/*width: 240px;*/
	width: 20%;
}

.rightContainer{
	position:relative;
	float:left;
	height:100%;
	width: 80%;
}

.leftHolder{
	position: absolute;
	height:100%;
	width: 100%;
	background:#E6E6E6;
}

.logoContainer{
	position: relative;
	float:left;
	width: 100%;
	height: 90px;
	top:0;
}

.navigationContainer{
	position: relative;
	float:left;
	width: 100%;
}

.navLinksContainer{
	height: 100%;
	text-transform: uppercase;
}

.navigationContainer>nav>ul.navLinksContainer>li{
	width: 100%;
	float: none;
	margin-left: 0px;
	font-size: 16px;
	/*height: 36px;*/
	padding: 12px 0 12px;
}

.navigationContainer>nav>ul.navLinksContainer>li>ul.children>li{	
	width: 100%;
	float:none;
	padding: 10px 0;
	color:black;
}

.children{
	display:none;
	margin-left: -120px;
	position: absolute;
	width: 100%;
}

.navigationContainer>nav>ul.navLinksContainer>li>a{
	/*color:black;*/
	font-weight: bold;
	margin: 12px 0px;
}

.active{
	background:#4D4D4D;	
	margin:0;
}

.active2{
	background:#B3B3B3!important;
}

.activeSub{
	background:#4D4D4D;	
	margin:0;
}

.active a{
	color:white;
}

.activeSub a{
	color:white!important;
}

.navigationContainer>nav{
	width: 100%;
}

/*.navigationContainer>nav>ul>li:hover{
	background:#4D4D4D;	 
	color:white!important;
}*/

.navigationContainer>nav>ul.navLinksContainer>li>span{
	width: 40px;
	/* height: 20px; */
	height: 100%;
	margin: 0 10px 0 0;
	/* padding: 14px 10px 0 20px; */
}

.navigationContainer>nav>ul.navLinksContainer>li>span>img{
	width: 20px;
	height: 20px;
	float: right;
}

.backIco{
	width: 30px!important;
	height: 30px!important;
	margin: -3px 0 0 16px;
	cursor: pointer;
}

.children>li>a{
	/*color:black!important;*/
	text-transform: capitalize;
	margin: 0 0 0 49px;	
}

.active2 a{
	color: black;
}

.headerContainer{
	position: absolute;
	width: 100%;
	height: 90px;
	border-bottom: 2px solid #E6E6E6;
}

.headerHolder{
	position: relative;
	width: 100%;
	height: 100%;
}

.notifContainer{
	float:left;
	width:60px;
	height: 60px;
	margin: 15px 0 0 30px;
	border:1px solid black;
}

.logoutContainer{
	float: right;
	width: 85px;
	height: 100%;
	border-left: 2px solid #E6E6E6;
}

.userContainer{
	float: right;
	width: 236px;
	height: 100%;
	border:1px solid black;
}