.mainContainer{
	float: left;
	width: 100%;
	height:100%;
	overflow: hidden;
}

.leftContainer{
	position:relative;
	float:left;
	height:100%;
	width: 20%;
	max-width: 200px;
}

.rightContainer{
	position:relative;
	float: left;
	height: 100%;
	width: 84.6%;
}

.leftHolder{
	position: relative;
	height:100%;
	width: 100%;
	background:#E6E6E6;
}

.logoContainer{
	position: relative;
	float:left;
	width: 100%;
	height: 90px;
	top:0;
}

.navigationContainer{
	position: relative;
	float:left;
	width: 200px;
}

.navLinksContainer{
	height: 100%;
	text-transform: uppercase;
}

.navigationContainer>nav>ul.navLinksContainer>li{
	width: 100%;
	float: none;
	margin-left: 0px;
	font-size: 16px;
	/*height: 36px;*/
	padding: 12px 0 12px;
}

.navigationContainer>nav>ul.navLinksContainer>li>ul.children>li{	
	width: 100%;
	float:none;
	padding: 10px 0;
	color:black;
}

.children{
	display:none;
	/*margin-left: -120px;*/
	position: absolute;
	width: 100%;
}

.navigationContainer>nav>ul.navLinksContainer>li>a{
	font-weight: bold;
	margin: 12px 0px;
}

.active{
	background:#4D4D4D;	
	margin:0;
}

.active2{
	background:#B3B3B3!important;
}

.activeSub{
	background:#4D4D4D;	
	margin:0;
}

.active a{
	color:white;
}

.activeSub a{
	color:white!important;
}

.navigationContainer>nav{
	width: 100%;
}

.navigationContainer>nav>ul.navLinksContainer>li>span{
	width: 40px;
	height: 100%;
	margin: 0 10px 0 0;
}

.navigationContainer>nav>ul.navLinksContainer>li>span>img{
	width: 20px;
	height: 20px;
	float: right;
}

.backIco{
	width: 30px!important;
	height: 30px!important;
	margin: -3px 0 0 16px;
	cursor: pointer;
}

.children>li>a{
	text-transform: capitalize;
	margin: 0 0 0 49px;	
}

.active2 a{
	color: black;
}

.headerContainer{
	position: absolute;
	width: 100%;
	height: 90px;
	border-bottom: 2px solid #E6E6E6;
}

.headerHolder{
	position: relative;
	width: 100%;
	height: 100%;
}

.notifContainer{
	float:left;
	width:60px;
	height: 60px;
	margin: 15px 0 0 30px;
	border:1px solid black;
}

.logoutContainer{
	float: right;
	width: 85px;
	height: 100%;
	border-left: 2px solid #E6E6E6;
}

.userContainer{
	float: right;
	width: 236px;
	height: 100%;
	border:1px solid black;
}

.menuContainer{
	float:right;
	height: 100%;
}

.menuContainer>img{
	width:25px;
	cursor:pointer;
}

.leftPanelContainer{
	display: none;
	position:relative;
	float:left;
	height:100%;
	width: 5%;
}

.leftPanelHolder{
	position: absolute;
	height:100%;
	width: 100%;
	background:#E6E6E6;
}

.panelMenuContainer{

	position: relative;
	cursor:pointer;
	top:10px;
	left: 22px;
}
.panelMenuContainer>img{
	width:25px;
	height: 25px;
}

.leftTogglerHolder {
	width: 100%;
	float: left;
	overflow: hidden;
	text-align: center;
}

.leftTogglerHolder img {
	padding: 10px;
	cursor: pointer;
	width: 20px;
	height: 20px;
	float: left;
}

.logoHolder {
	width: 200px;
	float: left;
	overflow: hidden;
	background-color: #CCC;
	height: 70px;
	text-align: center;
	color: #444;
	font-weight: 700;
	font-size: 30px;
	line-height: 70px;
}

.invertedLogoHolder  {
	width: 100%;
	float: left;
	overflow: hidden;
	background-color: #CCC;
	text-align: center;
	color: #444;
	font-weight: 700;
	font-size: 30px;
	height: 200px;	
	display: none;
	position: absolute;
	bottom: 100px;
}

.invertedLogoHolder p {
	margin: 90px 0 0 0;
	font-weight: 700;
	color: #444;
	-moz-transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2)
}

.normalState .leftContainer {
	width:200px;
    overflow:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;		
}

.normalState .navigationContainer {
	display: block;
}

.normalState .rightContainer {
	width: 84.6%;
    overflow:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	
}

.hideSideBar .leftContainer {
	width:0px;
    overflow:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	
}

.activeSideBar .leftTogglerHolder img,
.hideSideBar2 .leftTogglerHolder img {
	float: none;
}

.hideSideBar .invertedLogoHolder {
	display: none;
}

.hideSideBar .rightContainer {
	width: 100%;	
    overflow:hidden;
    -webkit-transition: width .9s ease-in-out;
    -moz-transition: width .9s ease-in-out;
    -o-transition: width .9s ease-in-out;
    transition: width .9s ease-in-out;	
}

.activeSideBar .leftContainer {
	width:50px;
    overflow:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;		
}

.activeSideBar .rightContainer {
	width: 96%;	
    overflow:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	
}

.activeSideBar .invertedLogoHolder {
	display: block;
}

.activeSideBar .navigationContainer {
	display: none;
}

.activeSideBar .logoHolder {
	display: none;
}

.hideSideBar2 .leftContainer {
	width:0px;
    overflow:hidden;
    -webkit-transition: width .5s ease-in-out;
    -moz-transition: width .5s ease-in-out;
    -o-transition: width .5s ease-in-out;
    transition: width .5s ease-in-out;	
}

.hideSideBar2 .logoHolder{
	display: none;
}

.hideSideBar2 .invertedLogoHolder {
	display: block;
}

.hideSideBar2 .rightContainer {
	width: 100%;	
    overflow:hidden;
    -webkit-transition: width .9s ease-in-out;
    -moz-transition: width .9s ease-in-out;
    -o-transition: width .9s ease-in-out;
    transition: width .9s ease-in-out;	
}

.hideSideBar2 .navigationContainer {
	display: none;
}